.input_div{
  display: flex;
  /* background-color: red; */
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.input_div input{
  width: 90%;
  outline: none;
  padding: 4px 6px;
  border: 1px solid grey;
  border-radius: 5px;
}
.button_div{
  margin: 2em 0;
}
.button_div button{
  margin: 0 1em;
  background-color: rgb(62, 62, 148);
  color: white;
  border: none;
  border-radius: 1em;
  cursor: pointer;
  padding: 0.5em 0.7em;
}