.App {
  text-align: center;
  border: 1px solid grey;
  background-color: yellow;
}
.input_div input{
  margin: 0 1em;
}
.button_div{
  margin: 2em 0;
}
.button_div button{
  margin: 0 1em;
  background-color: rgb(62, 62, 148);
  color: white;
  border: none;
  border-radius: 1em;
  cursor: pointer;
  padding: 0.5em 0.7em;
}
/* .App1{
  text-align: center;
  border: 1px solid grey;
  border-radius: 5px;
  width: 50%;
  cursor: pointer;
  background-color: green;
} */
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
